<h1>Create a Team and Heroes!</h1>

<form method="POST" action="/teams">
  Team Name: <input type="text" name="team[name]"><br>
  Team Motto: <input type="text" name="team[motto]"><br>
  
  <h2>Hero 1</h2><br>
  Superhero Name: <input type="text" name="member1_name"><br>
  Superhero Power: <input type="text" name="member1_power"><br>
  Superhero Bio: <input type="text" name="member1_bio"><br>
  
  <h2>Hero 2</h2><br>
  Superhero Name: <input type="text" name="member2_name"><br>
  Superhero Power: <input type="text" name="member2_power"><br>
  Superhero Bio: <input type="text" name="member2_bio"><br>
  
  <h2>Hero 3</h2><br>
  Superhero Name: <input type="text" name="member3_name"><br>
  Superhero Power: <input type="text" name="member3_power"><br>
  Superhero Bio: <input type="text" name="member3_bio"><br>
  
  <button type="submit" value="submit">Submit</button>
</form>
